<div class="table-responsive">
  <div class="card-body" style="margin-bottom:20px">
    <table class="dataTable display table-bordered table-hover" id="provisioning-data">
        <thead>
            <tr>
                <th>Username</th>
                <th>Last name</th>
                <th>First name</th>
                <th>ID</th>
                <th>Account group</th>
                <th>DOB</th>
                <th>Zip</th>
                <th>Account type</th>
                <th>ProxID</th>
                <th>Ext</th>
                <th>Depts</th>
                <th>Notes</th>
                <th>Status</th>
                <th>
                  <i class="fa fa-calendar-o green blue-tooltip" data-toggle="tooltip"
                    data-placement="top" aria-hidden="true"
                    title="Hover over the date to see the CSV value"></i>
                    Created at
                </th>
            </tr>
        </thead>
        <tbody>
        {% for o in objects %}
            <tr>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.username}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.last_name}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.first_name}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.id}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                    {% if o.faculty %}
                        Faculty
                    {% else %}{% if o.staff %}
                        Staff
                    {% else %}{% if o.student %}
                        Student
                    {% else %}{% if o.retire %}
                        Retire
                    {% endif %}{% endif %}{% endif %}{% endif %}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.birth_date}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.postal_code}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.account}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.proxid}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.phone_ext}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.departments}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.notes}}
                </td>
                <td{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {% if o.batch_rec.sitrep == 1 %}Success{% else %}Fail{% endif %}
                </td>
                <td title="{{o.csv}}"{% if o.batch_rec.sitrep == 0 %} class="minor"{% endif %}>
                  {{o.created_at|date:'Y-m-d'}}
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Username</th>
                <th>Last name</th>
                <th>First name</th>
                <th>ID</th>
                <th>Account type</th>
                <th>DOB</th>
                <th>Zip</th>
                <th>Account</th>
                <th>ProxID</th>
                <th>Ext</th>
                <th>Depts</th>
                <th>Notes</th>
                <th>Status</th>
                <th>Created at</th>
            </tr>
        </tfoot>
    </table>
  </div>
</div>
<!-- /.table-responsive -->
